[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
streamlit = "*"
pandas = "*"
scikit-learn = "*"
plotly = "*"
requests = "*"
joblib = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.10"
